/*smaller mobile devices*/
@media screen and ( max-width: 320px ) {

/*game container, title*/
.container {
  margin: auto;
}

.gameName {
  font-size: 1.6rem;
}

/*score panel with stars, moves, time, restart button*/
.moves,
.movesText,
.timeText,
#minutes,
#seconds {
  font-size: 1.1rem;
}

/*stars*/
.stars-list {
  font-size: 1.2rem;
  letter-spacing: -0.1rem;
}

/*moves*/
.moves {
  margin-left: -2.3rem;
}

.movesText {
  margin-right: 0.4rem;
}

/*restart button*/
.fa-redo-alt {
  font-size: 1.2rem;
}

/*deck*/
.deck {
  height: 310px;
  width: 310px;
}

/*cards*/
.card {
  height: 65px;
  width: 65px;
}

.card.show,
.card.match {
  font-size: 1.3rem;
}

.flip-card {
  font-size: 1.5rem;
}

/*modal*/
.modal-container {
  bottom: 17.3rem;
  height: 220px;
  width: 255px;
}

.congrats {
  padding-top: 0.95rem;
}
}